/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

@font-face {
    font-family: 'elkwood';
    src: url('../fonts/elkwood_-_free-webfont.woff2') format('woff2'),
        url('../fonts/elkwood_-_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    color: #222;
    line-height: 1.4;
    background-color: #ff8982;
    font-family: elkwood;
}

.avatar {
    display: inline-block;
}

.horizontal-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    margin: 5% 20%;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="card"] {
        margin: 2% 5%;
    }

    [class*="floating-button"] {
        display: none;
    }

    [class*="canvas"] {
        display: none;
    }

    [class*="content-preview"] {
        width: 50%;
    }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.red-container {
    background-color: #FF5555;
    color: #FFF;
    border-radius: 15px 15px 0px 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

h1.title {
    text-align: center;
    font-size: 3.5em;
    font-weight: bolder;
    padding: 0.1%;
    font-style: normal;
    font-variant: normal;
    text-align: left
}

h4.subtitle {
    text-align: center;
    font-size: 2.5em;
    font-style: normal;
    font-variant: normal;
    display: inline-block;
    text-align: left
}

h2 {
    color: #777;
}

.white-container {
    background-color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
    color: #ff5f52;
}

.white-container h3 {
    color: #666
}


.white-container-end {
    background-color: #FFF;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    padding: 20px;
    color: #ff5f52;
}


.content-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    row-gap: 30px;
}

.content-preview {
    position: relative;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: 0.3s;
    min-height: 150px;
}

.content-preview.pinedittextfield {
    width: 80%;
    padding: 10px;
}

.content-preview-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.content-preview:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.overlay {
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ff8982;
}

.content-preview-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.content-preview:hover .overlay {
    opacity: 0.9;
}

.copyright {
    font-size: 14px;
    text-align: bottom;
    color: FFF;
}

.divider {
    height: 10px;
    width: 100%;
    background-color: #FFF;
    padding: 20px 0px;
}

body {

    position: relative;
    min-height: 100vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.page-footer {
    background: #DF696E;
    color: #FFF;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0px;
    text-align: center;
}

.floating-button {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: #FF5555;
    height: 4rem;
    width: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;

    transition: 0.3s;
}

.floating-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.icon {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

.hr {
    background-color: #ccc;
}

/*
* Remove text-shadow in selection highlight
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */


/* ---- particles.js container ---- */
canvas {
    display: block;
    vertical-align: bottom;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vmax !important;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}



.body-particles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}














/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
